@font-face {
    font-family: "Raleway-Light";
    src: url('/fonts/RalewayFont/Raleway-Light.woff') format('woff'),
        url('/fonts/RalewayFont/Raleway-Light.eot') format('eot'),
        url('/fonts/RalewayFont/Raleway-Light.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url('/fonts/RalewayFont/Raleway-Regular.woff') format('woff'),
        url('/fonts/RalewayFont/Raleway-Regular.eot') format('eot'),
        url('/fonts/RalewayFont/Raleway-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('/fonts/RalewayFont/Raleway-Bold.woff') format('woff'),
        url('/fonts/RalewayFont/Raleway-Bold.eot') format('eot'),
        url('/fonts/RalewayFont/Raleway-Bold.ttf') format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "DelaGothicOne";
    src: url('/fonts/DelaGothicOne/DelaGothicOne-Regular.woff2') format('woff2'),
        url('/fonts/DelaGothicOne/DelaGothicOne-Regular.woff') format('woff'),
        url('/fonts/DelaGothicOne/DelaGothicOne-Regular.eot') format('eot'),
        url('/fonts/DelaGothicOne/DelaGothicOne-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Icons";
    src: url('/fonts/Iconse/icons.woff') format('woff'),
        url('/fonts/Icons/icons.eot') format('eot'),
        url('/fonts/Icons/icons.ttf') format('ttf');
    font-weight: 400;
}