$search: no-repeat center/cover url('/img/icons/search.svg');
$chevron: no-repeat center/cover url('/img/icons/chevron.svg');
$cart: no-repeat center/cover url('/img/icons/cart.svg');
$burger: no-repeat center/cover url('/img/icons/burger.svg');
$reload: no-repeat center/cover url('/img/icons/reload.svg');
$facebook: no-repeat center/cover url('/img/icons/facebook.svg');
$youtube: no-repeat center/cover url('/img/icons/youtube.svg');
$mail: no-repeat center/cover url('/img/icons/mail.svg');
$pinterest: no-repeat center/cover url('/img/icons/pinterest.svg');
$instagram: no-repeat center/cover url('/img/icons/instagram.svg');
$arrow: no-repeat center/cover url('/img/icons/arrow.svg');