@import '_colors.scss';
@import '_mixins.scss';

.selectbox-sm {
    padding: 5px 0px 5px 5px;
    border: none;
    @include text-note;
    text-decoration: none;

    .selection {
        text-decoration: none !important;
    }

    .arrow {

        &::after {
            content: '';
            display: block;
            background: no-repeat center url(/img/icons/chevron.svg);
            width: 16px;
            height: 16px;
        }
    }
}